{% extends "base.html" %}
{% block title %}Bill Pay{% endblock %}
{% block breadcrumb %}Home &raquo; Transactions &raquo; Bill Pay{% endblock %}
{% block content %}
{% if error %}<div class="msg-error">{{ error }}</div>{% endif %}
<div class="panel">
  <div class="panel-title">Bill Pay &mdash; {{ member.first_name }} {{ member.last_name }}</div>
  <div class="panel-body">
    <form method="POST" action="/billpay">
      <table class="form" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="lbl">Pay From:</td>
          <td>{% for account in member.accounts if account.is_primary %}{{ account.account_id }} ({{ account.account_type }}){% endfor %}</td>
        </tr>
        <tr>
          <td class="lbl">Payee:</td>
          <td>
            <select name="payee_id">
              {% for payee in payees %}
              <option value="{{ payee.payee_id }}">{{ payee.name }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td class="lbl">Amount:</td>
          <td><input type="text" name="amount" value="{{ default_amount }}" size="10"> USD</td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Continue"> <input type="reset" value="Clear"></td>
        </tr>
      </table>
    </form>
    <div class="fineprint">Payments submitted after 4:00 PM are processed the next business day.</div>
  </div>
</div>
{% endblock %}
