{% extends "base.html" %}
{% block title %}Sign On{% endblock %}
{% block breadcrumb %}<a href="/">Home</a> &raquo; Sign On{% endblock %}
{% block nav %}{% endblock %}
{% block main_colspan %}2{% endblock %}
{% block content %}
<table width="380" align="center" cellpadding="0" cellspacing="0" border="0" style="margin-top:40px;">
  <tr>
    <td>
      <div class="panel">
        <div class="panel-title">Staff Portal &mdash; Sign On</div>
        <div class="panel-body">
          {% if message %}<div class="msg-ok">{{ message }}</div>{% endif %}
          {% if error %}<div class="msg-error">{{ error }}</div>{% endif %}
          <form method="POST" action="/login">
            <table class="form" cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <td class="lbl">Username:</td>
                <td><input type="text" name="username" size="20"></td>
              </tr>
              <tr>
                <td class="lbl">Password:</td>
                <td><input type="password" name="password" size="20"></td>
              </tr>
              <tr>
                <td></td>
                <td><input type="submit" value="Log In"></td>
              </tr>
            </table>
          </form>
          <div class="fineprint">Authorized personnel only. All activity is monitored and logged.</div>
        </div>
      </div>
    </td>
  </tr>
</table>
{% endblock %}
