{% extends "base.html" %}
{% block title %}Member Search{% endblock %}
{% block breadcrumb %}Home &raquo; Member Services &raquo; Member Search{% endblock %}
{% block content %}
<div class="panel">
  <div class="panel-title">Member Search</div>
  <div class="panel-body">
    <form method="POST" action="/search">
      <table class="form" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="lbl">Member ID:</td>
          <td><input type="text" name="member_id" size="20"></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Search"> <input type="reset" value="Clear"></td>
        </tr>
      </table>
    </form>
    <div class="fineprint">Enter the member's account number. Partial matches are not supported.</div>
  </div>
</div>
{% endblock %}
