{% extends "base.html" %}
{% block title %}Session Expired{% endblock %}
{% block breadcrumb %}Session Expired{% endblock %}
{% block nav %}{% endblock %}
{% block main_colspan %}2{% endblock %}
{% block content %}
<table width="420" align="center" cellpadding="0" cellspacing="0" border="0" style="margin-top:40px;">
  <tr>
    <td>
      <div class="panel">
        <div class="panel-title">Session Expired</div>
        <div class="panel-body">
          <div class="msg-error">Your session has expired.</div>
          Please log in again to continue.
          <div class="actions"><a href="/login">Return to Login</a></div>
        </div>
      </div>
    </td>
  </tr>
</table>
{% endblock %}
